* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

/* Hero */
#hero {
  background-image: url("./images/circuits.webp");
  background-size: cover;
  background-position: center;
  height: 400px; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  border: 2px solid #ff5733;
}

#hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

#hero p {
  font-size: 20px;
  margin-bottom: 20px;
}

.nav-btn {
  display: inline-block;
}

.cta-button {
  padding: 10px 20px;
  background-color: #ff5733;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px;
}

.cta-button:last-child {
  margin-right: 0;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
} */

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

/* Content */
.project-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.project-image {
  max-width: 25%;
  height: auto;
  margin-right: 20px;
}

.project-description {
  flex: 1;
  background-color: #87cefa;
  color: #212b33;
  padding: 10px;
}

.project-description h3 {
  margin-top: 0;
}
