@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

/* Set the overall parameters of the portfolio */
* {
  padding: 0;
  margin: 0;
  font-family: "League+Spartan", "Montserrat", sans-serif;
  box-sizing: border-box;
}

/* Default background color and text color */
body {
  background-color: #3416bf;
  color: #a1bf16;
}

/* Stylize the navigation bar */
/* Background image */
#header {
  width: 100%;
  height: 20vh;
  background-image: url("./images/circuits.webp");
  background-size: cover;
  background-position: center;
}

/* Image and links appearance */
.top-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* border: gold solid; */
}

.logo {
  margin-top: auto;
  display: flex;
  align-items: center;
  background: #9bb5d6;
}

/* Size of logo */
.rooster {
  width: 100px;
}

/* Header/Title location and appearance */
.header-text {
  padding: 5px;
  align-items: left;
  color: #3416bf;
}

.header-text h1 {
  font-size: 25px;
}

.header-text p {
  font-size: 20px;
}

.nav-links {
  margin-left: auto;
  margin-top: 5%;
}

/* Area around the links */
.top-nav ul li {
  padding: 3px;
  margin: 15px 15px;
  display: inline-block;
  list-style: none;
  /* border: orange dotted; */
}

/* Links appearance */
.top-nav a {
  color: #a1bf16;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  /* border: pink solid; */
}

/* Hover effect on links */
.top-nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #a1bf16;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}
/* End of navigation bar */

/* Parameters of h2 */
aside {
  margin-bottom: 20px;
  padding: 50px;
  height: 150px;
  width: 15%;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  border-right: #00ffff solid;
  /* border: gold solid; */
}

.about-me {
  display: flex;
}

/* Stylize Projects */
.projects {
  display: flex;
  flex-wrap: wrap;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75%;
  padding: 5%;
  margin-left: 10%;
}

.flex-item {
  display: flex;
  height: 150px;
  flex-basis: 45%;

  border: 5px solid red;
}

#port1 {
  flex-basis: 100%;
}

#port2,
#port3,
#port4,
#port5 {
  flex-basis: 50%;
}
/* End of Projects */

/* Stylize the contacts */
/* Images are side by side */
.img-row {
  display: inline-flex;
}

/* Spacing between images */
.column {
  flex: content;
  padding: 30px;
}

/* Responsive Stacking */
@media screen and (max-width: 500px) {
  .column {
    width: 50%;
  }
}
/* End of contacts */

/* Footer */
/* Appearance of footer */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.footer h3 {
  font-size: 20px;
}
/* End of footer */
