@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

/* Set the overall parameters of the portfolio */
* {
  padding: 0;
  margin: 0;
  font-family: "League+Spartan", "Montserrat", sans-serif;
  box-sizing: border-box;
}

/* Default background color and text color */
body {
  background: #818bb7;
  color: #3416bf;
}

/* Stylize the navigation bar */

/* Background image */
#header {
  width: 100%;
  height: 50vh;
  background-image: url("./images/circuits.webp");
  background-size: cover;
  background-position: center;
}

/* Image and links appearance */
.top-nav {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  flex-wrap: wrap;
  /* border: gold solid; */
}

.logo {
  background: #9bb5d6;
  display: flex;
  align-items: center;
}
/* Size of logo */
.rooster {
  width: 100px;
}

/* Title appearance */
.header-text {
  padding: 5px;
  align-items: left;
}

.header-text h1 {
  font-size: 25px;
}

.header-text p {
  font-size: 20px;
}

.nav-links {
  margin-left: auto;
  margin-top: 5%;
}

/* Area around the links */
.top-nav ul li {
  display: inline-block;
  list-style: none;
  padding: 3px;
  margin: 15px 15px;
  /* border: orange dotted; */
}

/* Links appearance */
.top-nav a {
  color: #0e2954;
  font-size: 20px;

  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  /* border: pink solid; */
}

/* Hover effect on links */
.top-nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #030303;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}
/* End of navigation bar */

.about-me {
  display: flex;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75%;
}

.flex-item {
  display: flex;
  height: 150px;
  flex-basis: 45%;

  border: 5px solid red;
}

#port1 {
  flex-basis: 100%;
}
/* Parameters of h2 */
.about-me h2,
.projects h2,
.contacts h2 {
  margin-bottom: 20px;
  padding: 50px;
  height: 150px;
  width: auto;
  font-family: "Courier New", Courier, monospace;
}

/* Organize the Contacts Section*/
.contact ul li a {
  display: inline-block;
  max-height: 200px;
}

/* Footer */
/* Appearance of footer */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.footer h3 {
  font-size: 20px;
}
/* End of footer */
